<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crems.crems.mapper.SysUserExtMapper">

    <select id="selectNickNameByUserId" resultType="String">
        select nick_name from sys_user where user_id = #{userId}
    </select>

    <update id="updateNickName">
        update sys_user
        set nick_name = #{nickName}
        where user_id = #{userId}
    </update>

</mapper>
